In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/jlpt_vocab.csv')

In [3]:
df = df.rename(columns={"JLPT Level": "JLPT"})

In [4]:
df = df.loc[(df["JLPT"] == "N5") | (df["JLPT"] == "N4")]

In [5]:
df

     Original Furigana                                         English JLPT
6744       踏む       ふむ                         to step on, to tread on   N4
6745       ～区       ～く                   ~ district, ~ ward, ~ borough   N4
6746      すっと      すっと                               straight, quickly   N4
6747       盗む      ぬすむ                                to steal; to rob   N4
6748       大抵     たいてい                              generally, usually   N4
...       ...      ...                                             ...  ...
8125        私      わたし                                       I, myself   N5
8126        私     わたくし             I (formal), myself, private affairs   N5
8127       渡す      わたす  to hand (something) over (v.t.); to get across   N5
8128       渡る      わたる                     to cross over, to go across   N5
8129       悪い      わるい                           bad, sinful; inferior   N5

[1386 rows x 4 columns]

CREATE 
(russell:PLAYER{name:"Russell Westbrook", age: 33, number: 0, height: 1.91, weight: 91}),
(lebron:PLAYER{name:"LeBron James", age: 36, number: 6, height: 2.06, weight: 113}),

In [15]:
def escape_quotes(input_string):
    # Escape single and double quotes
    escaped_string = input_string.replace('"', '\\"').replace("'", "\\'")
    return escaped_string

def cypher_transform(row):
    cypher = ':GOI{'
    for col in row.keys()[:-1]:
        cypher = cypher + col.lower() + ":\"" + escape_quotes(str(row[col])) + "\", "
    cypher = cypher + row.keys()[-1].lower() + ":\"" + str(row[row.keys()[-1]]) + "\"}"
    return cypher

In [16]:
series = df.apply(cypher_transform, axis=1)

In [18]:
def format_and_save_series(series, filename):
    with open(filename, 'w', encoding='utf-8') as file:
        file.write("CREATE\n")
        for s in series:
            file.write(f"({s}),\n")

In [19]:
format_and_save_series(series, 'cypher.txt')

In [17]:
series

6744    :GOI{original:"踏む", furigana:"ふむ", english:"to...
6745    :GOI{original:"～区", furigana:"～く", english:"~ ...
6746    :GOI{original:"すっと", furigana:"すっと", english:"...
6747    :GOI{original:"盗む", furigana:"ぬすむ", english:"t...
6748    :GOI{original:"大抵", furigana:"たいてい", english:"...
                              ...
8125    :GOI{original:"私", furigana:"わたし", english:"I,...
8126    :GOI{original:"私", furigana:"わたくし", english:"I...
8127    :GOI{original:"渡す", furigana:"わたす", english:"t...
8128    :GOI{original:"渡る", furigana:"わたる", english:"t...
8129    :GOI{original:"悪い", furigana:"わるい", english:"b...
Length: 1386, dtype: object