## Proposal to put 
- grade: 13
- freq: 0
- jlpt_new: 0

In [62]:
import pandas as pd

In [63]:
df = pd.read_feather('../data/essential_kanji.feather')

In [64]:
def concatenate_strings(string_list):
    # Join all elements in the list into a single string, separated by commas
    concatenated_string = ', '.join(string_list)
    
    # Return the concatenated string
    return concatenated_string

In [65]:
df.head()
df.shape

(13108, 8)

In [66]:
df.freq.fillna(0, inplace=True)
df.jlpt_new.fillna(0, inplace=True)
df.grade.fillna(13, inplace=True)

In [67]:
df[["grade", "freq", "jlpt_new"]] = df[["grade", "freq", "jlpt_new"]].astype('int64', errors='ignore')

In [68]:
df['meanings'] = df['meanings'].apply(concatenate_strings)
df['readings_kun'] = df['readings_kun'].apply(concatenate_strings)
df['readings_on'] = df['readings_on'].apply(concatenate_strings)

In [69]:
df = df.rename(columns={"jlpt_new": "jlpt"})

In [70]:
df

,kanji,strokes,grade,freq,jlpt,meanings,readings_on,readings_kun
0,一,1,1,2,5,"One, One Radical (no.1)","いち, いつ","ひと-, ひと.つ"
1,二,2,1,9,5,"Two, Two Radical (no. 7)","に, じ","ふた, ふた.つ, ふたたび"
2,九,2,1,55,5,Nine,"きゅう, く","ここの, ここの.つ"
3,七,2,1,115,5,Seven,しち,"なな, なな.つ, なの"
4,人,2,1,5,5,Person,"じん, にん","ひと, -り, -と"
...,...,...,...,...,...,...,...,...
13103,辶,3,13,0,0,,,しんにょう
13104,逸,12,10,0,0,,,しんにょう
13105,難,19,10,0,0,,なん,"かたい, むずかしい"
13106,響,22,10,0,0,,きょう,ひびく
13107,頻,16,13,0,0,,ひん,

In [71]:
df.to_csv("clean-kanji.csv", index=False)

In [25]:
df

      kanji  strokes  grade  freq  jlpt_new
0         一        1      1     2         5
1         二        2      1     9         5
2         九        2      1    55         5
3         七        2      1   115         5
4         人        2      1     5         5
...     ...      ...    ...   ...       ...
13103     辶        3     13     0         0
13104     逸       12     10     0         0
13105     難       19     10     0         0
13106     響       22     10     0         0
13107     頻       16     13     0         0

[13108 rows x 5 columns]